name: .NET Core

on: 
  push:
    branches-ignore: 
      - 'master'
  pull_request:
    branches: 
      - '**:**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.*
    - name: Build with dotnet
      run: dotnet build --configuration Release
